				
	<strong>Which of the following statements are correct regarding <em>Spirit of the Game</em>:</strong></p>

	An opponent has called a foul against your team-mate and the two players are discussing the call. You are playing the point and had a good view of the play. You saw evidence that your team-mate did commit a foul. If your team-mate decides to contest the foul it is good spirit to tell them you think it was a foul, but only if you are the captain
	An opponent has called a foul against your team-mate and the two players are discussing the call. You are playing the point and had a good view of the play. You saw evidence that your team-mate did commit a foul. If your team-mate decides to contest the foul it is good spirit to tell them you think it was a foul
	You are allowed to intentionally foul the thrower to prevent a goal, as long as you do not contest the call
	If players agree to ask a person on the sideline for their perspective on an out of bounds call, they must accept that person’s call

	<strong>Which of the following statements are correct regarding the <em>Playing Field</em>:</strong></p>

	The goal line is part of the end zone
	If play is obstructed by non-players within three (3) metres of the perimeter line, only the thrower in possession may call a violation
	The end zones are not part of the central zone
	The line that surrounds the field (the perimeter line) is considered part of the playing field


	<strong>Which of the following statements are correct regarding the <em>Pull</em>:</strong></p>

	An offensive player catches the pull out of bounds, behind the end zone they are defending. They must establish a pivot point at the point on the goal line that is nearest to where they caught the disc
	The pull rolls out the side of the end zone, without being touched by an offensive player. The pivot point must be established at the point on the playing field where the disc went out-of-bounds
	The pull lands out-of-bounds without first touching the playing field. The thrower can establish a pivot at the brick mark, or middle of the field, or from the sideline where the disc went out-of-bounds
	The pull lands in bounds and stops in the end zone. The thrower can choose to establish a pivot at the location of the disc or at the goal line closest to where the disc stopped


	<strong>Which of the following statements are correct regarding the <em>Status Of The Disc, and the Check</em> :</strong></p>

	The disc must be checked in/ground tapped when starting play at the brick mark after the pull
	A defensive receiving foul is called as two players attempt to catch the disc. The call is contested and the disc is returned to the thrower to restart play. All players must return to where they were when play stopped
	A marking foul is called during the act of throwing and causes an incomplete pass and play stops. The foul is uncontested and the disc is returned to the thrower to restart play. All players must return to where they were when play stopped
	A stoppage has occurred. The thrower has possession but the disc is not within reach of a defender. To restart play the defender nearest to the disc must call “Disc In”


	<strong>Which of the following statements are correct regarding <em>Out-of-Bounds</em>:</strong></p>

	An offensive player is out-of-bounds and then jumps, catches the disc while in the air, and lands in-bounds. This is not a turnover
	There is a turnover and the disc has landed away from the sideline. &nbsp;The thrower, who is standing where the pivot is to be established, can immediately restart play if a non-player gives them the disc
	An offensive player catches the disc in-bounds, but their momentum causes them to leave the central zone and go out-of-bounds. They must establish a pivot in-bounds at the point where they crossed the perimeter line
	The place where a disc becomes out-of-bounds and where a disc went out-of-bounds is always the same


	<strong>Which of the following statements are correct regarding <em>Receivers and Positioning</em>:</strong></p>

	A pass from team A is intercepted in the central zone by a player from team B who then intentionally drops the disc. The player from team B must re-establish possession
	A player is making a play at the disc. They slow down and move to prevent an opponent from getting around them and also making a play at the disc. This is allowed as long as they do not initiate contact with the opponent
	A player bumps into a team mate after taking a catch, and subsequently loses possession of the disc. The catch is deemed to have not occurred
	A player is making a play at the disc. Their team mate, who is not making a play on the disc, slows down and moves to prevent an opponent from getting around them and making a play at the disc. This is a violation


	<strong>Which of the following statements are correct regarding <em>Turnovers</em>:</strong></p>

	A player from team A drops a catch in the central zone, and the disc stays at the location of the dropped catch. The player who takes possession from team B must establish a pivot point at the location of the disc
	For a stall-out turnover, the thrower must still be in possession of the disc when the marker finishes saying "ten"
	A player from team A drops a catch in the central zone, and the disc stays at the location of the dropped catch. The player who takes possession from team B must establish a pivot point at any point that they can reach the disc from
	After a stall-out turnover, the marker at the time of the stall-out must take possession of the disc


	<strong>Which of the following statements are correct regarding <em>Scoring</em>:</strong></p>

	An offensive player catches the disc in the end zone they are attacking but then throws an incomplete pass. This is a goal
	A player catches the disc and lands in the central zone, but their momentum carries them into the end zone. They must establish a pivot at the point where they crossed the goal line
	An offensive player catches the disc in the air and lands simultaneously with one foot in the end zone they are attacking and the other on the goal line. This is a goal
	An offensive player catches the disc in the end zone they are attacking but then loses possession due to ground contact related to the catch. This is a goal


	<strong>Which of the following statements are correct regarding <em>Fouls</em>:</strong></p>

	There is an uncontested foul called by the thrower during the act of throwing, but the intended receiver drops the disc. The disc must go back to the thrower, even if the foul did not affect the play
	An offensive throwing foul is called by the marker and the thrower still has possession. The thrower contests the foul. The thrower retains possession and any stall count must resume at maximum six
	An offensive receiving foul is called and the offensive receiver has possession. The receiver does not contest the foul. The disc must go back to the thrower and any stall count must resume at maximum nine
	An offensive receiver runs into a defender and knocks them over, while the thrower still has the disc. The defender calls a foul. This must be treated as an indirect foul, not an offensive receiving foul


	<strong>Which of the following statements are correct regarding <em>Violations</em>:</strong></p>

	The marker does not need to leave a gap of one second between the start of the word ‘Stalling’ and the start of the word ‘One’ in a stall count
	The thrower calls ‘Fast count’. The marker does not contest, and immediately drops the count by 2. During the same stall count the thrower calls ‘Straddle’ and again the marker does not contest. The marker must stop straddling, and immediately drop the count by 2
	The thrower establishes a pivot at the wrong spot and a travel is called. The thrower has not released the disc. Play does not stop but the thrower must establish the pivot at the correct spot and must not throw until the marker starts the stall count
	Before the act of throwing, a defender calls pick. A pass is attempted and it is intercepted in the air by another defender. The disc must return to the thrower, even if the pick, or the pick call, did not affect the play
