.joomlaquiz_container ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}

.joomlaquiz_container ul.actions li
{
        display:inline
}

.joomlaquiz_container ul.actions a
{
        text-decoration:none
} 

div.moduletable.joomlaquiz_container div.current {
	max-width: 10000px !important;
}

div.moduletable.joomlaquiz_container dl.tabs {
	margin-top: 10px !important;
}

.jq_fe_toolbar{ margin: auto !important;}

.jq_fe_toolbar a{ padding: 2px;}

div.moduletable.joomlaquiz_container a:hover, div.moduletable.joomlaquiz_container a:focus {
	background-color:transparent !important;
	color: #000000 !important;
}

div.moduletable.joomlaquiz_container table {
	border-collapse: separate;
}

div.moduletable.joomlaquiz_container tr, td {
	border: none !important; 	
}

div.moduletable.joomlaquiz_container td.sectiontableheader {
    background: none repeat scroll 0 0 #EFEFEF;
    border-right: 1px solid #FFFFFF;
    color: #333333;
    font-weight: bold;
    padding: 4px;
}

div.moduletable.joomlaquiz_container tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td {
    padding: 4px;
}

div.moduletable.joomlaquiz_container td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {
    padding: 3px;
}

div.moduletable.joomlaquiz_container table.contentpaneopen, table.contentpane {
    margin: 0;
    padding: 0;
    width: auto;
}

div.moduletable.joomlaquiz_container table.contentpaneopen fieldset {
    border-color: #DDDDDD;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

div.moduletable.joomlaquiz_container table.contentpaneopen h3 {
    margin-top: 25px;
}
div.moduletable.joomlaquiz_container table.contentpaneopen h4 {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
}

.jq_statistics_container_table tbody tr td,
.jq_statistics_container_table tbody tr.sectiontableentry1 td,
.jq_statistics_container_table tbody tr.sectiontableentry2 td {
	padding: 3px 3px 3px 10px;	
}