/**
 * Styles for site part of component
 * 
 * We developed this code with our hearts and passion.
 * We hope you found it useful, easy to understand and change.
 * Otherwise, please feel free to contact us at contact@joomunited.com
 *
 * @package 	SEO Glossary
 * @copyright 	Copyright (C) 2012 JoomUnited (http://www.joomunited.com). All rights reserved.
 * @license 	GNU General Public License version 2 or later; http://www.gnu.org/licenses/gpl-2.0.html
 */

.glossary ul.adminformlist, ul.adminformlist li {
    list-style: none outside none !important;
    margin: 0;
    padding: 0;
}
div.toolbar-list li
{
	list-style: none outside none !important;

}
 
/* CSS for Glossary component */

div#com_glossary {
	text-align: left;
	padding-bottom: 20px;
}

#com_glossary h2 {
	font-size: 200%;
	font-weight: bold;
}

div.glossformdiv {
	clear: left;
	padding: 3px 0;
}

#com_glossary label {
	width: 25%;
	display: block;
	padding-top: 5px;
	float: left;
}

#com_glossary input.inputbox, #glossary textarea {
	width: 70%;
	display: block;
	float: left;
}

#com_glossary .clear {
	clear: left;
}

.glossaryclear {
	clear: both;
}

.glossary25, .glossary72 {
	font-weight: bold;
	text-align: left;
	padding-bottom: 10px;
}

.glossary25 {
	width: 25%;
}

.glossary72 {
	width: 72%
}

div.glossaryalphabet {
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0;
	clear: left;
	text-align: center;
}

.glossletselect {
	border: 2px solid #888888;
    border-radius: 2px 2px 2px 2px;
	padding: 4px;
}

div#glossarysearch {
	padding: 5px;
	margin: 10px 0;
}

div#glossarysearch input {
	margin: 5px 0;
}

div#glossarysearchmethod input {
	margin: 5px;	
}

table#glossarylist thead{
	text-align: center;
}

#glossarylist thead {
	border-bottom: 1px solid #bbb;	
}

table#glossarylist {
	border-collapse: collapse;
	width: 100%;
}

#glossarylist td {
	padding: 5px;
	vertical-align: baseline;
}

.row1 {
	background-color:none;
}


div#glossaryglossarylist {
	padding: 5px;
	background: #dedede;
}

.glossaryalphabet a
{
padding:2px;
}
/*.container  {
    clear: both;
    text-align: center;
    text-decoration: none;
}
.pagination {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}
.pagination div.limit {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}
.counter
{
    float:right;
}*/
div#com_glossary .container
{
	padding: 5px 0;
}
div#com_glossary .authorblock
{
     background:none;
	 padding:5px;
}

/*css for jquery */

/* get rid of those system borders being generated for A tags */
/*a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}*/

/* links */

span.mytool a {
	border-bottom:1px dashed;
}

span.mytool a:hover {
	border-bottom:1px dashed;
	text-decoration:none;
}

