/* ############# aktuelle Farbe: 008bfa  ######### */

body {
background-color:#eeeeee;
padding-top:0px;
margin:8px;
font-family:Verdana, Helvetica, sans-serif;
font-size: 11px;
line-height:20px;
font-weight: normal;
background: url(../images/bg_blue.png) repeat-x;
color:#444444;
}

p {
padding-bottom:10px;
}

#rechts {
border-left: 1px solid #bbbbbb;
padding-top:5px;
	 padding-left:10px;
	 padding-right:5px;
}


#rechts div.moduletable, 
#rechts div.moduletabletoc,
#rechts div.moduletablenewsletter {
	margin-bottom:35px;
}



div.moduletabletoc ul
{
	padding:0;
	margin:0;
	margin-left:10px;
	margin-right:10px;
}
div.moduletabletoc li
{
	list-style-type:none;
	padding-left:10px;
	padding-right:10px;
	background-color:#f9f9f9;
}

div.moduletabletoc li h4 {
	font-size:10px;
	line-height: 17px;
	font-weight:normal;
	margin-top:2px;
	margin-bottom:2px;		
}

div.moduletabletoc li h4 a:link,
div.moduletabletoc li h4 a:visited
{
	color:#222222;
	font-weight:normal;
}
div.moduletabletoc li h4 a.active
{
	color:#000000;
	font-weight:bold;
}



#content {
	border-bottom: 1px solid #dddddd;
	padding-right:5px;
	padding-bottom:20px;
	text-align: left;
  }	  

#content_block   {
	border-bottom: 1px solid #dddddd;
	padding-right:5px;
	padding-top:10px;	
	padding-bottom:10px;	
  }	  

#content_advert   {
	border-bottom: 1px solid #dddddd;
	background-color:#eeeeee;
	padding-right:5px;
	padding-bottom:0px;	
  }	


#rahmen {
	border: 1px solid #bbbbbb;
	 background-color:#ffffff;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
  }	   

#rahmen tr {
margin-top:20px;
}

#content ul {
margin-left:3em;
}

#content ul.actions {
float:right;
list-style: none;
}



a:link, a:visited {
 text-decoration:none;
 color: #0000FF;
}



h3 {
 font-size: 11px;
 line-height:20px;
 text-align: left;
 font-weight: bold;
 color: #000000;
}

h2 {
 font-size: 15px;
 line-height:18px;
 text-align: left;
 font-weight: bold;
 color: #000000;
}




#links {
padding-right:10px;
}

#rechts table,
#bottom table {
width:100%;
}



/* ########### Galerie ########## */


.joomimg59_main {
text-align:center;
padding:0;
margin:0;
}
.joomimg59_imgct {
vertical-align:middle;
padding:0;
margin:0;

}

.joomimg59_img {
border: 0px solid #bbbbbb;
padding:0;
margin:0;

}

.joomimg59_img img {
text-align:center;
padding:0;
margin:0;

}


/* ###########Content Text########## */


.componentheading,
.subheading-category

{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:10px;
margin-left:0px;
text-transform:uppercase;
}

.blog-featured h1
{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:5px;
margin-left:0px;
text-transform:uppercase;
}


.contentpagetitle {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;
}

.contentheading, .contentheading a, .contentheading a:visited, .contentheading a:link,
#content table.rsstable .feed_title_left a,
#content table.rsstable .feed_title_center a,
#content table.rsstable .feed_title_right a,
#content_block table.rsstable .feed_title_left a,
#content_block table.rsstable .feed_title_center a,
#content_block table.rsstable .feed_title_right a,
.leading-0 h2,
#content h2,
#content h2 a,
.jxtcnews{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;
margin-top:20px;
}


.createdate {
font-family:Verdana, Helvetica, sans-serif;
font-size: 9px;
line-height:10px;
font-weight: normal;
text-decoration:none;
color:#999999;
}



#impressum{
background-color:#444444;
text-align:center;
}

#impressum a:link, #impressum a:visited, #impressum a:hover {
font-family:Verdana, Helvetica, sans-serif;
font-size: 11px;
line-height:20px;
font-weight: normal;
color:#dddddd;
margin-left:5px;
margin-right:5px;
 }

#impressum .menu
{ 
padding:0;
margin:0;
}

#impressum .menu li
{ 
padding:0;
margin:0;
list-style: none;
}


#top {
text-align:right; 
padding:0;
}




.search  {
margin-top: 5px;
}

.blog_more  {
	margin: 10px;
	}	




.sitemap {	 padding:0px;}
.sitemap .menutitle {
font-family:Verdana, Helvetica, sans-serif;
font-size: 15px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;}


.menutitle {	 padding-left:5px;}


.back_button {
 margin-left:275px;
 margin-bottom:5px; 
 background-color:#008bfa;
 width:57px;
 text-align:center;
 padding:0px;
 }

.back_button a:link, .back_button a:visited  {
 color:white;
 text-decoration:bold;
 font-size: 11px;
line-height:12px;
}




  
  
  


/* ###########Module########## */

#newsletter  {
	 padding:5px;
	}
	
#subscriber_name, #lm_email {
	 font-size:9px; font-family:verdana, sans-serif; font-weight:normal; line-height:11px; width:180px; text-decoration:none; background-color:#ffffff;
	}

#mod_login_borname, #mod_login_password, #mod_login_username	{
	 height:16px;
 	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px ;	
	-moz-box-shadow: 	0px 0px 3px #008bfa;
	-webkit-box-shadow: 0px 0px 3px #008bfa;
	box-shadow: 		0px 0px 3px #008bfa;
	 font-size:9px; font-family:verdana, sans-serif; font-weight:normal; line-height:11px; width:90px; text-decoration:none; background-color:#dddddd;
	}

#mod_search_searchword {
	 font-size:9px; font-family:verdana, sans-serif; font-weight:normal; line-height:11px; width:120px; text-decoration:none; background-color:#ffffff;
	}

#easybook {	 padding:5px;}
  
  
  
  
/* ############RSS Modul############## */  

#rss_channel {
font-family:Verdana, Helvetica, sans-serif;
font-size: 10px;
line-height:18px;
font-weight: normal;
text-decoration:none;
color:black;
}  

#rss_channel h2, #rss_channel h2 a {
 font-size: 11px;
 line-height:18px;
 text-align: left;
 font-weight: bold;
 color: #000000;
} 


#items a:link, #items a:visited {
	color: #000000;
	margin-top: 7px;
	text-align: center;
	line-height:18px;
 }

#items a:hover {
	color: #000000;
	line-height:18px;
	margin-top: 7px;
	text-align: center;
	font-weight: normal;
	text-decoration:underline;
	}
	
table.pollstableborder {
border:0px;
}





#logo{
padding-top: 7px;
padding-bottom: 10px;
}

#logo img{
border:0;
max-height:52px;
}


#links {
border-bottom: 1px solid #dddddd;
}



#position0 ul.menu{
list-style: none;
padding-top: 0;
margin-top: 0;

}

#position0 ul.menu li {
line-height: 11px; 
font-size:11px;
font-weight:normal;
list-style: none;
margin-right: 5px;
margin-left: 15px;
float:right;
text-decoration:none;
}

#position0 ul.menu li a:link,
#position0 ul.menu li a:visited {
color:#444444;
text-decoration:none;
}

#position0 ul.menu li a:hover {
color:#444444;
text-decoration:underline;
}


#position1 {
    border-bottom: 1px solid #dddddd;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-top:2px;
	padding-bottom:9px;
	background-color:#ffffff;
/*background: url(../images/menuehintergrund.jpg) no-repeat; */
}

#position2 {
	border-bottom: 1px solid #dddddd;
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	z-index:98;
}


#position2 ul.menu,
#position3 ul.menu{
list-style: none;
padding: 0;
margin: 0;
}

#position2 ul.menu li,
#position3 ul.menu li {
line-height: 11px; 
font-size:11px;
font-weight:normal;
list-style: none;
margin-right: 5px;
margin-left: 15px;
float:left;
text-decoration:none;
}

#position2 ul.menu li a:link,
#position2 ul.menu li a:visited,
#position3 ul.menu li a:link,
#position3 ul.menu li a:visited {
color:#444444;
text-decoration:none;
font-weight:bold;
}

#position2 ul.menu li a:hover,
#position3 ul.menu li a:hover{
color:#444444;
text-decoration:underline;
font-weight:bold;
}




#position3 {
	border-bottom: 1px solid #dddddd;
	padding-top:10px;
	padding-bottom:10px;
	z-index:97;	
}

#position3 .moduletable {
	text-align:center;
	margin-left:225px; 
}


#bottom_rechts{
	border-left: 1px solid #bbbbbb;
	padding-left:10px;
}

fieldset {
border:0;
}



div.bannergroup {
text-align:center;
padding:10px;
}

div.bannergroup img{
border:0;
}



#content div.moduletable h3,
#content div.moduletable h3 a,
#content_block div.moduletable h3,
#content_block div.moduletabletoc h3,
#content div.moduletable h3 a:link,
#content div.moduletable h3 a:visited {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-transform:uppercase;
text-decoration:none;
color:#666666;
padding:0;
margin:0;
margin-top:10px;
margin-bottom:10px;
}

#rechts div.moduletable h3,
#rechts div.moduletabletoc h3,
#rechts div.moduletablenewsletter h3 {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-transform:uppercase;
text-decoration:none;
color:#666666;
padding:0;
padding-bottom:10px;
margin:0;

}

div.aidanews {
margin-bottom:15px;
}

.aidanews a {
color:#008bfa;
}




/* NEWSLETTER */

#rechts div.moduletablenewsletter div.newsletter {
padding-left:10px;
padding-right	:10px;
}


#rechts div.moduletablenewsletter .inputbox {
margin-bottom:10px;
}

.aca_list_name a {
color:#008bfa;
text-decoration:none;
font-size: 11px;
line-height:18px;
font-weight: bold;
}


 
 

/* TEXT CONTENT */

#content img.picture {
	border: 1px solid #dddddd;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:8px;
	float: left;
	width:100px;	
  }	 


.readmore
{
margin-bottom:20px;
}	 


.readmore a,
a.readon
{
color:#008bfa;
text-decoration:none;
font-size: 11px;
line-height:18px;
font-weight: normal;
padding:0;
margin:0;
}	 
  


/* DOCMAN */
.dm_title  {
font-family:Verdana, Helvetica, sans-serif;
color:#008bfa;
}

h1.dm_title  {
font-size: 18px;
line-height:18px;
font-weight: bold;
text-decoration:none;
}
  


ul.newsfeed  {
margin:0;
padding:0;
}

li.newsfeed-item{
margin-left:px;
list-style-type:none;
margin-top:20px;
}


h4.feed-link a {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;
}



.moduletablelogin
{
	background-color:#eeeeee;
}


form-login-username,
form-login-password
{
}

#modlgn-username,
#modlgn-passwd
{
	margin-top:0px;
}

.article-info {
font-family:Verdana, Helvetica, sans-serif;
font-size: 9px;
line-height:13px;
font-weight: normal;
text-decoration:none;
color:#008bfa;
}

.article-info-term{display:none;}

.category-name,
.create
{
	margin:0px;
}




h4.mod_record {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;

text-decoration:none;
color:#008bfa;
padding:0;
margin:0;
margin-top:10px;
margin-bottom:10px;

}


.pagenav  {

margin: 0 auto; 
position: relative; left: 25%;
list-style-type: none;
margin-top:40px;
margin-bottom:100px;

}

.pagenav li {
width:100px;
float:left;
border: 1px solid #efefef;
padding-left:5px;
padding-right:5px;
text-align:center;

}

.pagenav-next a,
.pagenav-next a:link,
.pagenav-next a:visited,
.pagenav-prev a,
.pagenav-prev a:link,
.pagenav-prev a:visited {
font-family:Verdana, Helvetica, sans-serif;
font-size: 11px;
line-height:18px;
font-weight: normal;
text-decoration:none;
color:#bbbbbb;
}

.pagenav-next a:hover,
.pagenav-prev a:hover {
text-decoration:none;
color:#008bfa;
}





/* DOCMAN */

  
h1.dm_title
{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:10px;
margin-left:0px;
text-transform:uppercase;
}

  
h2.dm_title
{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:10px;
margin-left:0px;
text-transform:uppercase;

}


h3.dm_title,
h3.dm_title a{
font-size: 12px;
line-height:16px;
font-weight: bold;
color:#008bfa;
text-decoration:none;
}



.dm_taskbar li a,
.dm_orderby a{
color:#444444;
}

.dm_orderby a{
color:#444444;
font-style:italic;
}


#rechts table.rsstable .feed_title_left a,
#rechts table.rsstable .feed_title_center a,
#rechts table.rsstable .feed_title_right a {
color:#000000;
font-weight:normal;
line-height: 20px;
font-size:10px;
}

#rechts table.rsstable .feed_newstext_left {
color:#676767;
font-weight:normal;
line-height: 18px;
font-size:10px;
}


#glossarylist a:link,
#glossarylist a:visited {
color:#444444;
font-weight:bold;
}


.ufeedpop {
margin-bottom:60px;
}


#top_menu {
border-bottom: 1px solid #dddddd;
}

#top_menu img {
border: 0;
}

#top_menu #top_left .moduletable_150,
#top_menu #top_center_left .moduletable_150,
#top_menu #top_right .moduletable_150{
height:110px;
overflow:hidden;
}

#top_menu #top_center_right .moduletable_150 {
height:224px;
overflow:hidden;
}


#top_menu #top_left {
border-right: 1px solid #bbbbbb;
vertical-align: top;
overflow:hidden;
}

#top_menu #top_center_left {
border-right: 1px solid #bbbbbb;
vertical-align: top;
overflow:hidden;
}

#top_menu #top_center_right {
border-right: 1px solid #bbbbbb;
vertical-align: top;
overflow:hidden;
}
#top_menu #top_right {
border-left: 0px solid #bbbbbb;
vertical-align: top;
overflow:hidden;
}




#top_menu a.ufeedpop,
#top_menu table.rsstable .feed_title_left a,
#top_menu table.rsstable .feed_title_center a,
#top_menu table.rsstable .feed_title_right a {
color:#000000;
font-weight:normal;
line-height: 16px;
font-size:10px;
}

#top_menu h3 {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:10px;
margin-left:0px;
text-transform:uppercase;
}


div.klatest {
margin-bottom:5px;
padding-right:3px;
}

div.klatest .klatest-subject a:link,
div.klatest .klatest-subject a:visited {
color:#000000;
font-weight:normal;
line-height: 20px;
font-size:10px;
}

div.klatest img {
margin:3px;
padding:0;
border:0;
}



.klatest, .klatest a {
color:#676767;
font-weight:normal;
line-height: 18px;
font-size:10px;
}


.klogin-forgotpass a,
.klogin-register a,
.klogin-forgotname a {
color:#676767;
font-weight:normal;
line-height: 18px;
font-size:10px;
}

.ultimaterss {
padding-top:0px;
margin-top:0px;
}



#top_center_right .category-module {
margin-bottom:5px;
padding:2px;
padding-left:8px;
}

#top_center_right h4,
#top_center_right h4 a {
color:#000000;
font-weight:normal;
line-height: 20px;
font-size:10px;
}



#top_center_right .mod-articles-category-introtext,
#top_center_right .mod-articles-category-introtext a {
color:#676767;
font-weight:normal;
line-height: 18px;
font-size:10px;
}




#content_block a.ufeedpop,
#content_block table.rsstable .feed_title_center a,
#content_block table.rsstable .feed_title_right a
{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;
margin-top:20px;
}

#content_block table.rsstable .feed_newstext_left {
color:#676767;
font-weight:normal;
line-height: 18px;
font-size:11px;
}


#content_block h3 {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:10px;
margin-left:0px;
text-transform:uppercase;
}



#bottom a.ufeedpop,
#bottom table.rsstable .feed_title_center a,
#bottom table.rsstable .feed_title_right a
{
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;
margin-top:20px;
}

#bottom table.rsstable .feed_newstext_left {
color:#676767;
font-weight:normal;
line-height: 18px;
font-size:11px;
}


#bottom h3 {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#666666;
margin:10px;
margin-left:0px;
text-transform:uppercase;
}




/* Search */
.search  {
margin-top: 5px;
text-align: center;
}


#position0 #searchbox {
overflow:hidden;
width:160px; 
padding:2px;

}

#position0 #mod-search-searchword {
height:12px;
font-size:10px;
line-height:10px;
padding:2px;
background-color: #fafafa;
text-align:center;
color:#bbbbbb;
border: 1px solid #bbbbbb;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	
	-moz-box-shadow: 	0px 0px 5px #008bfa;
	-webkit-box-shadow: 0px 0px 5px #008bfa;
	box-shadow: 		0px 0px 5px #008bfa;
}

#rechts #mod-search-searchword {
padding:4px;
background-color: #008bfa;
color:#ffffff;
border: 1px solid #bbbbbb;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	
	-moz-box-shadow: 	0px 5px 5px #ddd;
	-webkit-box-shadow: 0px 5px 5px #ddd;
	box-shadow: 		0px 5px 5px #ddd;
}


.search-results {
text-align:left;
border-top: 1px solid #bbbbbb;
margin-top:20px;
padding-top:10px;
}

.result-title,
.result-title a {
margin-top:20px;
}

.result-title a {
font-family:Verdana, Helvetica, sans-serif;
font-size: 12px;
line-height:18px;
font-weight: bold;
text-decoration:none;
color:#008bfa;
}


.highlight {
background-color:#f9f003;
}



/* Tool Tips */

#qtip0,
#vtemtooltip0 {
color:#0000ff;
}
.vtemtooltip {
}
.vtemtooltip img {
height:17px;
float:both;
padding-left:10px;
border:0;
}



/* HTML Rules */
#rules_main {
margin-left:10px;
margin-top:10px;
}

#rules_sub,
#rules_sub_sub,
#rules_sub_sub_sub
{
margin-bottom:5px;
}

#rules_sub {
margin-left:30px;
}

#rules_sub_sub {
margin-left:50px;
}

#rules_sub_sub_sub {
margin-left:70px;
}


#key_explanations td {
text-align:center;
vertical-align:top;
}

#key_explanations img{
height:30px;
}

#key_explanations, 
#key_explanations a{
color:#888888;
font-size: 9px;
line-height: 10px;
}



.login {
text-align:center;
padding-top:30px;
padding-bottom:30px;
}

.login-fields {
	display:block;
	float:left;
}

.login-fields input{
}

.login ul{
margin-left:180px;
list-style-type:none;
display:block;
}
.login ul li{
	background-color: #ec8029;
	color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbbbbb;
	width:200px;
	margin:10px;
}

.login ul li a{
color: #ffffff;
}


#username-lbl,
#password-lbl,
#remember-lbl {
	margin:10px;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #ee1111;
	color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	font-size: 11px;
	line-height: 20px;
	padding-left:10px;
	padding-right:10px;
	margin-top:5px;
}


input[type="button"].done,
input[type="reset"].done,
input[type="submit"].done {
	background-color: #2da021;
	color: #ffffff;
}

.login-fields button.button {
margin-top:40px;
}

.sac_submit {
	display: inline-block;
	font-size: 11px;
	line-height: 16px;
}

sssselect {
   background: transparent;
   padding: 2px;
   border: 1px solid #ccc;
}



.moduletablesac_img_rotate {
margin-top:20px;
margin-bottom:20px;
background: url(../images/bg_carbon.jpg) repeat;
border: 2px solid #ff0000;
-webkit-border-radius: 	10px;
-moz-border-radius: 	10px;
border-radius: 			10px;

}
div.vtem_images_rotator {
background-color: #000000;
background: url(../images/contact_bg.jpg) no-repeat;
}
img.cloudcarousel {
border: 1px solid #444444;
 	-moz-border-radius: 	5px 5px 0 0;	
	-webkit-border-radius: 	5px 5px 0 0;	
	border-radius: 			5px 5px 0 0;	
}

#acc_button {
width:276px;
padding:5px;
margin:15px; 
text-align:center;
color:#ffffff;
border: 1px solid #bbbbbb;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	
	-moz-box-shadow: 	0px 5px 5px #ddd;
	-webkit-box-shadow: 0px 5px 5px #ddd;
	box-shadow: 		0px 5px 5px #ddd;
}

a:link #acc_button {
background-color: #008bfa;
}

a:hover #acc_button {
background-color: #ff0000;
}


#acc_button_group {
background: url(../images/icon_group.png) no-repeat;
background-color: #ffffff;
text-align:center;
color:#444444;
font-size: 12px;
text-transform: uppercase;
line-height:36px;
text-shadow: 0px 0px 3px #222;
-webkit-font-smoothing: antialiased;

width:276px;
height:38px;
padding:5px;
margin:15px; 

}

a:link #acc_button_group {
}

a:hover #acc_button_group {
color:#000000;
text-decoration: underline;
}



#sac_link {
padding-top:2px;
padding-bottom:2px;
padding-left:5px;
padding-right:5px;

text-align:center;
color:#ffffff;
border: 1px solid #bbbbbb;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	
	-moz-box-shadow: 	0px 5px 5px #ddd;
	-webkit-box-shadow: 0px 5px 5px #ddd;
	box-shadow: 		0px 5px 5px #ddd;
}

a:link #sac_link {
background-color: #008bfa;
}

a:hover #sac_link {
background-color: #ff0000;
}

#aaaacc_hint {
background: url(../images/bg_carbon.jpg) repeat;
float:right;
color:#dddddd;
font-size: 11px;
line-height:16px;
text-shadow: 0px 0px 3px #222;
-webkit-font-smoothing: antialiased;
background-color: #eeeeee;
width:150px;
padding:7px; 
margin-left:10px;
margin-bottom:20px;
border: 1px solid #ff0000;
text-align:justify;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	
	-moz-box-shadow: 	0px 5px 5px #ddd;
	-webkit-box-shadow: 0px 5px 5px #ddd;
	box-shadow: 		0px 5px 5px #ddd;
}

#acc_hint {
float:right;
color:#888888;
font-size: 11px;
line-height:16px;
text-shadow: 0px 0px 0px #222;
-webkit-font-smoothing: antialiased;
background-color: #eeeeee;
width:150px;
padding:7px; 
margin-left:10px;
margin-bottom:20px;
border: 1px solid #dddddd;
border-left: 3px solid #008bfa;
text-align:justify;

	-moz-box-shadow: 	0px 5px 5px #ddd;
	-webkit-box-shadow: 0px 5px 5px #ddd;
	box-shadow: 		0px 5px 5px #ddd;
}

#acc_hint img {
margin:5px;
margin-left:2px;
margin-right:10px;
}
#acc_hint a {
color:#008bfa;
font-weight:bold;
text-shadow: 0px 0px 1px #444444;
}



div.mod_docman_latestdownacc_registry {
text-align:left;
background: url(../images/icon_group.png) no-repeat;
padding-left:50px;
}
div.mod_docman_latestdownacc_registry ul{
list-style:none;
}
div.mod_docman_latestdownacc_registry a {
color:#444444;
font-size: 12px;
text-transform: uppercase;
line-height:24px;
-webkit-font-smoothing: antialiased;

}
div.mod_docman_latestdownacc_registry img{
float:left;
}
ul.mod_docman_latestdownacc_registry {
list-style:none;
}





.moduletableacc_registry {
color:#888888;
background-color: #eeeeee;
padding:7px; 
margin-left:10px;
margin-bottom:20px;
border: 1px solid #008bfa;
text-align:justify;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	
	-moz-box-shadow: 	0px 0px 15px #008bfa;
	-webkit-box-shadow: 0px 0px 15px #008bfa;
	box-shadow: 		0px 0px 15px #008bfa;
}


#position0 .moduletable,
a.mod_login {
color:#dddddd;
}


a.mod_login {
margin-top:6px;
padding-top:4px;
padding-bottom:4px;
padding-left:5px;
padding-right:5px;
text-align:center;
color:#ffffff;
border: 1px solid #eeeeee;
 	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	border-radius: 			5px ;	

}

a.mod_login:link  {
background-color: #008bfa;
}

a.mod_login:hover {
background-color: #ff0000;
}


#registrationTable .titleCell{
width:30%;
}




/* Images */

img.caption {
	margin-top: 5px;
}
.img_caption {
	margin-bottom: 10px;
	background: #fff;
	padding: 3px;
	border: 1px solid #e5e5e5;
}
.article-content img {
	margin: 5px;
}
.img_caption img {
	margin: 0;
}
p.img_caption {
	margin: 0 10px;
	padding: 6px 6px 0;
	text-align: center;
	border: none;
}
.img_caption.left {
	float: left;
	margin-right: 3em;
}
.img_caption.right {
	float: right;
	margin-left: 3em;
}
.img-fulltext-left {
	float: left;
	margin: 0 3em 0 0;
}

.img-fulltext-right {
	float: right;
	margin: 0 0 0 3em;
}
.img-fulltext-none {
	float: none;
	margin: 0 auto 0 auto;
}

.img-fulltext-none img,
.img-fulltext-right img,
.img-fulltext-left img	{
	max-width:100%; height:auto;
}

.img-fulltext-none .img_caption {
	margin: 0 auto;
}
.img-fulltext-left .img_caption,
.img-fulltext-right .img_caption {
	margin: 0 !important;
}



.img-intro-none img,
.img-intro-right img,
.img-intro-left img	{
	max-width:25%; height:auto;
	max-height:200px;
}


.img-intro-right img
{
	float:right;
	margin-top:5px;
	margin-left:8px;
	margin-bottom:5px;
}

.img-intro-left img
{
	float:left;
	margin-top:5px;
	margin-right:8px;
	margin-bottom:5px;
}

div.item-separator {
display:block;
margin-bottom:30px;
}


.rules_quote {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 2.0em;
	border-left: 4px solid #b63304;
	background-image: none;
	color:#666666;
	font-size: 11px;
	line-height:20px;
	font-style:italic;
}